*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: #2D3A3A;
    width: 100%;
    height: 200px;
    align-items: center;
}
nav img{
    width: 250px;
    margin-left: 100px;
} 
/* Search Bar and Nav*/
.searchbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        right: auto;
        
}
.searchbar a:hover {
    background-color: red;
    color: black;
}
.searchbar input[type=text] {
    float: right;
    padding: 6px;
    border: 2px solid black;
    margin-top: 18px;
    margin-right: 20px;
    font-size: 17px;
}
@media screen and (max-width: 600px) {
    .searchbar a, .searchbar input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .searchbar input[type=text] {
    border: 1px solid #ccc;
    }
}
.header{
    color:white;
    font-size: 60px;
    position: absolute;
    text-decoration: underline;
    margin-top: 80px;
    right: 580px;
    text-align: center;
}
.nav-links-1{
    display: fixed;
    align-items: center;
    padding-bottom: 20px;
    text-align: left;
    padding-top: 5%;
    background-color: #2D3A3A;
}
.nav-links-1 ul li{
    display: inline-block;
    position: relative;
}
.nav-links-1 a{
    color: white;
    text-decoration: underline;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 95px;
    max-width: auto;
    text-align: center
}

.nav-links-1 img{
    width: 30px;
    border: 30px;
}
.bottomnav{
    background-color: black;
    width: 100%;
    height: 10px;
}

.health-image{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;  
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-2{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 40%;
}

.text-box-1{
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.separator{
    background-color:#2D3A3A;
    width: 100%;
    height: 5px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 20px;
}

.text-box-2{
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: 50px;
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
